@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.logo img {
    padding: 30px;
    max-width: 20%;
    height: auto;
    padding-left: 50px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.signInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

label {
    margin-bottom: 2px;
    text-align: start;
    color: #909090;
    font-size: 15px;
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid #DCD0DF;
}

.btnSubmit {
    background-color: #F0A273;
    border: none;
    width: 314px;
    height: 30px;
    padding: 10px;
    margin-top: 20px;
    line-height: 11px;
    font-size: 15px;
}

.dividerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.dividerLine {
    flex-grow: 1;
    height: 1px;
    background-color: #909090;
    width: 140px;
}

.orText {
    margin: 0 10px;
    color: #909090;
    font-weight: regular;
    font-size: 15px;
}

.btnSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCD0DF;
    border: none;
    width: 315px;
    height: 30px;
    line-height: 11px;
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

.continueAnon {
    padding-top: 25px;
    color: #F0A273;
}


/* responsive   */

/* @media (max-width: 320px) {
    input[type="text"],
    input[type="password"],
    .btnSubmit,
    .btnSignUp {
        width: 100%;
    }
} */

@media (max-width: 425px) {
.logo img {
    max-width: 50%;
    padding-left: 20px;
}
}
